<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Semana 3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Organiza tus tareas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Crea, edita y completa tus pendientes desde cualquier dispositivo.
      <ion-button expand="block" routerLink="/tareas">Ver mis tareas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
